
body {
	background-image: url("image/bgrd1.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
li {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	position: fixed;
    bottom: 50;
    right: 0;
}
h1 {
	margin:auto;
	border:1px solid red;
    color: red;
    text-align: center;
	
}
.center {
	position: absolute;
    right: 500px;
    width: 300px;
    border: 3px solid green;
    padding: 10px;
	/*text-align:center;*/
	background-color: whitesmoke;
    padding: 25px;
    margin: 25px;
}
.container {
	position: absolute;
    right: 500px;
    width: 300px;
    border: 3px solid red;
    padding: 10px;
	text-align:center;
	background-color: yellow;
    padding: 25px;
    margin: 25px;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}

